@reference 'tailwindcss';

@theme {
  --animate-slide-left: slideLeft 15s linear infinite;
  --animate-slide-right: slideRight 15s linear infinite;
  --animate-drop-in: dropIn 1s ease-out forwards;
  --animate-drop-in-delay: dropIn 1.1s ease-out 100ms forwards;
  --animate-slide-in: slideIn 1s ease-out forwards;
  --animate-slide-in-left: slideInLeft 1s ease-out 1100ms forwards;

  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes dropIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
