@reference 'tailwindcss';

.button-primary-color {
  @apply text-white 
  bg-linear-65 
  from-purple-500 
  to-blue-500
  hover:from-purple-600
  hover:to-blue-600;
}

.button-secondary-color {
  @apply text-white 
  bg-blue-700
  hover:bg-blue-800;
}

.button {
  @apply cursor-pointer
  shadow-md
  font-medium 
  p-1.5 
  rounded-md 
  duration-75
  whitespace-nowrap
  hover:scale-103;
}

.button:disabled {
  @apply cursor-auto
  pointer-events-none
  shadow-none
  bg-none
  bg-gray-400;
}
